# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of NetBox systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ netbox_identifier }}.service"
  register: netbox_service_stat

- name: Uninstall netbox systemd services and files
  when: netbox_service_stat.stat.exists | bool
  block:
    - name: Ensure NetBox systemd services are stopped
      ansible.builtin.service:
        name: "{{ item }}"
        state: stopped
        enabled: false
        daemon_reload: true
      with_items:
        - "{{ netbox_identifier }}"
        - "{{ netbox_identifier }}-worker"
        - "{{ netbox_identifier }}-housekeeping"

    - name: Ensure NetBox systemd services do not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ item }}.service"
        state: absent
      with_items:
        - "{{ netbox_identifier }}"
        - "{{ netbox_identifier }}-worker"
        - "{{ netbox_identifier }}-housekeeping"

    - name: Ensure NetBox container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ netbox_container_network }}"
        state: absent
      register: netbox_network_deletion_result

    - name: Ensure NetBox container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ netbox_container_network }}
      register: netbox_network_deletion_result
      changed_when: netbox_container_network in netbox_network_deletion_result.stdout

    - name: Ensure NetBox path does not exist
      ansible.builtin.file:
        path: "{{ netbox_base_path }}"
        state: absent
