{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=NetBox ({{ netbox_identifier }})
{% for service in netbox_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in netbox_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ netbox_container_cleanup_command | trim | replace("\n", " ") }}'

{#
  tmpfs for /tmp is necessary to keep filesystem read-only.

  See: https://github.com/netbox-community/netbox-docker/commit/07fcb205b4f6bd00d98c39fe84629ca7f1f76325#diff-87b3f6ddd4b975fe33d91a3fc87ab7b6032b2473b680cb82b1bc6e9cf3446826
#}

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ netbox_identifier }} \
      --log-driver=none \
      --user={{ netbox_uid }}:{{ netbox_gid }} \
      --cap-drop=ALL \
      --cap-add=SETGID \
      --cap-add=SETUID \
      --read-only \
      --network={{ netbox_container_network }} \
      {% if netbox_container_http_host_bind_port %}
      -p {{ netbox_container_http_host_bind_port }}:{{ netbox_container_http_port }} \
      {% endif %}
      --env-file={{ netbox_base_path }}/env \
      --label-file={{ netbox_base_path }}/labels \
      --mount type=bind,src={{ netbox_config_path }}/extra.py,dst=/etc/netbox/config/extra.py,ro \
      --mount type=bind,src={{ netbox_reports_path }},dst=/etc/netbox/reports,ro \
      --mount type=bind,src={{ netbox_scripts_path }},dst=/etc/netbox/scripts,ro \
      --mount type=bind,src={{ netbox_media_path }},dst=/opt/netbox/netbox/media \
      {% for volume in netbox_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
      {% endfor %}
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ netbox_container_tmpfs_tmp_size }} \
      {% for arg in netbox_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ netbox_container_image_final }}

{% for network in netbox_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ netbox_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ netbox_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ netbox_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ netbox_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ netbox_identifier }}

[Install]
WantedBy=multi-user.target
